.bkg-bkg{
   /*background-image: linear-gradient(to right, #5acb9d, #28ad5a);*/
   background-color: #4FBD8F;
   color: beige;
}

.formLogin-border{
    border-radius: 0.375rem;
}

.img-logo{
width: 120px;
}

.color-green{
    color:#4FBD8F;
}

.color-green-baby{
    background-color: rgb(147, 216, 186);
    
}
