.bkg-bkg{
   background-color: #4FBD8F;
}

.formLogin-border{
    border-radius: 0.375rem;
}

.img-logo{
    width: 40%;
}

.color-green{
    color:#4FBD8F;
}

.color-green-baby{
    background-color: rgb(147, 216, 186);   
}
